body {
    background-color: rgb(248, 244, 239);
}
.medio{
    text-align: center;
}
.barra_menu{
    background-color: rgb(255, 246, 235);
    padding: 20px;
    list-style: none;
    text-align: center;
}
.barra_menu li{
    display: inline-block;
    font-size: 20px;
    /* margin: 27px 0px; */
    padding: 10px 90px;
    border: 1px black solid;
}
.elegir {
    text-align: boot;
    display: inline-block;
    border: 1px black solid;
}