body {
    background-color: rgb(238, 233, 167);
    color: rgb(0, 0, 0);
    font-size: 25px;
}
* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
.caja{
    width: 70rem;
    height: 22rem;
}
.caja1{
    width: 70rem;
    height: 29rem;
}
.caja2{
    width: 70rem;
    height: 26rem;
}
.caja3{
    width: 70rem;
    height: 25.7rem;
}
.caja4{
    width: 70rem;
    height: 22.5rem;
}
.caja5{
    width: 70rem;
    height: 22rem;
}
.caja6{
    width: 70rem;
    height: 21.8rem;
}
.caja7{
    width: 70rem;
    height: 26rem;
}
.caja8{
    width: 180rem;
    height: 10rem;
}
.linecaja{
    border: 0.3rem black solid;
    display: flex;
    /* Especificar qué elementos distribuir como cajas flexibles */
}
.linecaja1{
    border: 0.3rem black solid;
    display: flex;
    flex-direction: column;
    /* columnas*/
}
.linecaja2{
    border: 0.3rem black solid;
    display: flex;
    flex-wrap: wrap;
    flex: 200px;
    /* envase para artos elementos */
}
.linecaja3{
    border: 0.3rem black solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    /* taquigrafía de flujo flexible */
}
.linecaja4{
    border: 0.3rem black solid;
    display: flex;
    flex: 1 200px;
    flex: 2 400px;
    /* Tamaño flexible de elementos flexibles */
}
.linecaja5{
    border: 0.3rem black solid;
    display: flex;
    order: 2;
    /* pedido de articulo flexibles */
}
.linecaja6{
    border: 0.3rem black solid;
    flex: 3 200px;
    display: flex;
    flex-flow: column;
    /*Cajas flexibles anidadas*/
}
.linecaja7{
    border: 0.3rem black solid;
    display: grid;
}
.medio{
    text-align: center;
}
.barra_menu{
    background-color: rgb(207, 203, 143);
    padding: 20px;
    list-style: none;
    text-align: center;
}
.barra_menu li{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px rgb(255, 255, 255) solid;
    /* Alineación horizontal y vertical */
}
.elegir {
    text-align: boot;
    display: inline-block;
}
.derecha{
    text-align: center;
    font-size: 20px;
}
.final {
    text-align: center;
    padding: 5px;
    background-color: rgb(122, 130, 238);
}